<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Excel Scrape">
    <meta name="author" content="Jason Edelson">
    <title>Influencer GUI</title>
    {%load staticfiles%}
    <link rel="shortcut icon" href="{%static 'img/favicon.png'%}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}"/>
  </head>
  <body>
    <div id="content">
      <!-- Start Header -->
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'index'%}">Influencer GUI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Index</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li class="border border-info nav-item mr-3"><a class="nav-link" href="{% url 'influencer-add'%}"> Add Influencer</a></li>
                <li class="border border-info nav-item mr-3"><a class="nav-link" href="{% url 'tag-add'%}"> Add Tag</a></li>
                <li class="border border-info nav-item mr-3"><a class="nav-link" href="{% url 'event-add'%}"> Add Event</a></li>
                <li class="border border-primary nav-item"><a class="nav-link" href="{% url 'logout'%}?next=/"> Logout</a></li>
              {% else %}
                <li class="border border-success nav-item mr-2"><a class="nav-link" href="{% url 'login'%}?next=/">Login</a></li>
                <li class="border border-danger nav-item"><a class="nav-link" href="{% url 'signup'%}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>
      <!-- End Header -->
        <div id="home">
          {%block body%}
          {%endblock%}
        </div>
      <!-- Start Footer -->
      <footer>
  			<div class="container-fluid">
  				<div class="row">
  					<div class="col-12 pl-3 d-none d-sm-block">
  						<p>Copyright ©2018 Jason Edelson</p>
  					</div>
            <div class="col-12 d-block d-sm-none" style="text-align:center;">
  						<p>Copyright ©2018 Jason Edelson</p>
  					</div>
  				</div>
  			</div>
  		</footer>
      <!-- End Footer -->
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{%static 'js/main.js'%}"></script>
  </body>
</html>
