{% extends 'base.html' %}

{%block body%}
  <div class="container-fluid pt-2">
      {% if user.is_authenticated %}
          <div class="row search-row ">
            <div class="col-7 main-content">
              <h2>{{ user.get_username|title }}'s Dashboard </h2>
            </div>
            <div class="col-5 ">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected value="0">All Fields</option>
                    <option value="1">Name</option>
                    <option value="2">Email</option>
                    <option value="3">Twitch</option>
                    <option value="4">Twitter</option>
                    <option value="5">Country</option>
                    <option value="6">Shirt</option>
                    <option value="7">Updated</option>
                    <option value="8">Address</option>
                    <option value="9">Phone</option>
                    <option value="10">Youtube</option>
                    <option value="11">Tags</option>
                    <option value="12">Events</option>
                  </select>
                </div>
                <input type="text" id="myInputTextField" class="form-control mr-sm-1 ml-sm-1" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </div>
            </div>
          </div>
      <!-- End of Search row -->
      <div class="data-table">
        <table id="myTable" class='influencer-table mt-2 table table-hover display'>

          <thead class="thead-dark">
              <tr>
                  <th scope="col">Handle</th>  <!-- a -->
                  <th scope="col">Name</th> <!-- b -->
                  <th scope="col">Email</th>  <!-- c -->
                  <th scope="col">Twitch</th>  <!-- d -->
                  <th scope="col">Twitter</th>  <!-- e -->
                  <th scope="col">Country</th> <!-- f -->
                  <th scope="col">Shirt</th> <!-- g -->
                  <th scope="col">Edit</th> <!--h -->

                  <th scope="col" style="display:none">Last Updated</th>
                  <th scope="col" style="display:none">Mailing Address</th>
                  <th scope="col" style="display:none">Phone</th>
                  <th scope="col" style="display:none">Youtube</th>
                  <th scope="col" style="display:none">Tags</th>

                  <th scope="col" style="display:none">Events</th>

              </tr>
          </thead>
          <tbody>
          {% for  Handle,Name,Email,Twitch,Twitter,Country,Shirt,influencer,Last_Updated,Mailing_Address,Phone,Youtube,Mixer,tags,events in info %}
              <tr>
                  <td class="text" scope="row">{{ Handle }}</td>
                  <td class="text">{{ Name }}</td>
                  <td class="text">{{ Email }}</td>
                  <td class="numb">{{ Twitch }}</td>
                  <td class="numb">{{ Twitter }}</td>
                  <td class="text">{{ Country }}</td>
                  <td class="text">{{ Shirt }}</td>
                  <td><a href="{{influencer.get_absolute_url}}" class="btn btn-primary active" role="button" aria-pressed="true">Edit Influencer</a></td>
                  <td class="text" style="display:none">{{ Last_Updated }}</td>
                  <td class="text" style="display:none">{{ Mailing_Address }}</td>
                  <td class="text" style="display:none">{{ Phone }}</td>
                  <td class="text" style="display:none">{{ Youtube }}</td>
                  <td class="text" style="display:none">{{ tags }}</td>
                  <td class="text" style="display:none">{{ events }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      </div>
      {% else %}
          <h1 class="d-block text-center mt-4">Please Login</h1>
      {% endif %}
  </div>
{%endblock%}
