{% extends 'base.html' %}

{%block body%}
    <div id="home">
        <div class="container-fluid pt-2">
            {% if user.is_authenticated %}
                <div class="row search-row ">
                  <div class="col-7 main-content">
                    <h2>{{ user.get_username|title }}'s Dashboard </h2>
                  </div>
                  <div class="col-5 ">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected value="0">All</option>
                          <option value="1">Name</option>
                          <option value="2">Email</option>
                          <option value="3">Country</option>
                        </select>
                      </div>
                      <input type="text" id="myInputTextField" class="form-control mr-sm-1 ml-sm-1" aria-label="Text input with dropdown button">
                      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </div>
                  </div>
                </div>
            <!-- End of Search row -->
            <div class="data-table">
              <table id="myTable" class='influencer-table mt-2 table table-hover display'>

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Country</th>
                        <th scope="col">Shirt</th>
                        <th scope="col">Twitter</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for a,b,c,d,e,f,g in info %}
                    <tr>
                        <td class="text" scope="row">{{ a }}</td>
                        <td class="text">{{ b }}</td>
                        <td class="text">{{ c }}</td>
                        <td class="numb">{{ d }}</td>
                        <td class="numb">{{ e }}</td>
                        <td class="text">{{ f }}</td>
                        <td><a href="{{g.get_absolute_url}}" class="btn btn-primary active" role="button" aria-pressed="true">Edit Influencer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
                <h1 class="d-block text-center mt-4">Please Login</h1>
            {% endif %}
        </div>
    </div>
{%endblock%}
