{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-2"></div>
          <div class="influencer-form-panel col-sm-12 col-md-8 mx-auto my-4">
              <h2 class="panel-head ">
                {% if edit %}
                  Edit Influencer {{edit}}
                {% else %}
                  Create New Influencer
                {% endif %}
              </h2>
              <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                  <div class="form-group row my-4">
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="">
                          <span class="text-danger small">{{ field.errors }}</span>
                      </div>
                      <!-- {% if "mail" in field.label_tag %}
                        <h1>FOUND</h1>
                      {% endif %} -->
                      <div class="col-6">
                        <div class="form-label-container">
                          <label class="influencer-form-label text-center">{{ field.label_tag|title }}</label>
                        </div>
                        <div class="">
                          <div class="tag-field col">{{ field }}</div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                      <div class="">
                        {% if edit %}
                          <button type="submit" class="btn btn-success submit-form">Update Influencer</button>
                          <a href="{% url 'influencer-delete' pk=pk%}" class="btn btn-outline-danger submit-form mt-2">Delete This Influencer</a>
                        {% else %}
                          <button type="submit" class="btn btn-success submit-form">Submit</button>
                          <a href="{% url 'influencer-add-csv' %}" class="btn btn-outline-danger submit-form mt-2">Import Influencers with CSV</a>
                        {% endif %}
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-2"></div>
        </div>
    </div>
{% endblock %}
